.mt-lg {
  margin-top: calc(1rem + 5vw);
}

.auth-img {
  width: calc(2rem + 32vw);
}

.btn-txt:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media (min-width: 1200px) {
  .auth-img {
    width: calc(2rem + 20vw);
  }
}
